<div class="LoginPage__Container row">
  <div class="row center-xs">
    <div class="col-xs">
      <h1>TableTop Game Selector</h2>
      <h2>Login Page</h2>
    </div>
  </div>
  <div class="row center-xs middle-xs">
    <div class="col-xs-6">
      <div class="LoginButton__Container">
        <a href="/auth/slack" class="LoginButton btn btn-primary">
           <img class="LoginButton__Logo" src="/images/slack_sticker.png" />
           Sign In With Slack
        </a>
      </div>
    </div>
  </div>
</div>