
.LoginPage__Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginButton {
  font-weight: bold;
}

.LoginButton__Logo {
  width: 60px;
}

.LoginButton__Row {
  margin-top: 10px;
}

.Game {
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.Game--available {
  background-color: #edffe5;
}

.Game__Title-Details {
  margin-left: 10px;
}

.Game__Image {
  align-self: center;
  max-width: 75%;
}

.Game__Owners {
  list-style-type: none;
}

.Game__Owner--available {
  font-weight: bold;
}

.Game__VoteColumn div {
  text-align: center;
}

.Game__Buttons-Vote--voted:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.GameList__Actions {
  margin-bottom: 10px;
}

.GameList__Actions-AddGame {
  align-self: center;
}

.GameList__Actions-AddGame-Container {
  align-self: center;
}

.EditAvailability__Form-Container, .AddGame__Form-Container {
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  padding: 5px;
}

.EditAvailability__Buttons .row {
  margin-top: 20px;
}

.OwnerRow-Save {
  margin-left: 25px;
}

.Link--disabled {
  pointer-events: none;
}

.GlobalNav__LoginButton-Logo {
  width: 20px;
}

.AddGame__FormFieldContainer {
  width: 100%;
}

.AddGame__Form-Container--loading {
  align-items: center;
}

.AddGame__LoadingSpinner {
  width: 15px;
}