<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tabletop Selector</title>
    <link href="/css/bootstrap-nogrid.css" rel="stylesheet">
    <link href="/css/flexboxgrid.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

    {{{body}}}

</body>
</html>